$extra-light-blue: rgb(0, 113, 194);
$blue: rgb(0, 53, 128);
$light-blue: rgb(0, 89, 153);
$dark-blue: rgb(0, 34, 79);
$corona: rgb(255, 240, 224);
$orange: rgb(254, 187, 2);
$bg-white: hsla(0, 0%, 100%, 0.06);
