@import 'mixin.scss';
.card {
  padding: 1rem;
  display: flex;
  border: 1px solid rgb(231, 231, 231);
  margin-bottom: 1.5rem;
  @include mq('phone') {
    display: none;
  }
  &-icon {
    svg {
      margin-right: 1rem;
      background: #003580;
      border-radius: 50%;
    }
  }

  &-content {
    width: 100%;
    &-title {
      display: flex;
      width: 100%;
      align-items: center;
      h4 {
        flex: 1;
        font-weight: 700;
      }
      button {
        cursor: pointer;
        border: none;
        background-color: white;
      }
    }

    &-form {
      display: flex;
      margin-top: 1rem;
      max-width: 600px;
      input {
        padding: 0.5rem;
        margin-right: 8px;
        border: 1px solid #bdbdbd;
        border-radius: 2px;
        flex: 1;
        &:focus {
          outline: 0;
          box-shadow: 0 0 0 3px rgba(0, 113, 194, 0.24);
          border-color: #0071c2;
        }
      }
      button {
        border: 1px solid #0071c2;
        background-color: rgb(255, 255, 255);
        color: #0071c2;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
